data
__pycache__
models/__pycache__
.ipynb*
ckpt/*
ckpts/*
runs/*
old_runs/*
old_ckpts/*
downloaded_models/*
first_round*/
gan_output*/
*c2ae_results/*
old_c2ae_results/*
.*.py
.*.sh
*/.*
learning_loss/*

