data
__pycache__
models/__pycache__
.ipynb*
ckpt/*
ckpts/*
runs/*
old_runs/*
old_ckpts/*
downloaded_models/*
first_round*/
gan_output*/
*c2ae_results/*
old_c2ae_results/*
.*.py
.*.sh
*/.*
learning_loss/*
open_active_results/
open_active_results_new/
old_open_active_results/
open_active_results_*/
open_active_results_*/
paper_plots*/
temp_*/
*.pt
.vscode/
*.tar.gz
cifar-100-python/
trainers/
active_analysis/
analysis/
trainers/
active_learners/
cifar-10-batches-py/
.*/
weights/
active_analysis_*/
open_set_learners/
analysis_*/
*_analysis/
*_learners/