__pycache__
models/__pycache__
.ipynb*
.*.py
.*.sh
*/.*
.vscode
*.pt
.vscode/
*.tar.gz
cifar-100-python/
trainers/
active_analysis/
analysis/
trainers/
active_learners/
open_learners/
.*/
weights/
active_analysis_*/
open_learners/
analysis_*/
*_analysis/
*_learners/
datasets/